/* Ensure CKEditor SVGs are not blown up by Tailwind */
.ck.ck-reset svg {
  width: auto;
  height: auto;
}

.ck.ck-icon svg {
  width: auto;
  height: auto;
}

/* Add padding to CKEditor editable area */
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  padding: 30px;
}
